<div class="container-fluid mt-5 mb-5">
    <div class="row">
        <div class="col-sm-4">
            <!-- Sidebar -->
            <div class="card">
                <article class="card-group-item">
                    <header class="card-header">
                        <h6 class="title">Admin quản lý </h6>
                    </header>
                    <div class="filter-content">
                        <div class="list-group list-group-flush">
                            <a href="/admin/cineplex_manage" class="list-group-item">Quản lý cụm rạp  <span
                                    class="float-right badge badge-light round">142</span> </a>
                            <a href="/admin/cinema_manage" class="list-group-item ">Quản lý rạp <span
                                    class="float-right badge badge-light round">3</span> </a>
                            <a href="/admin/movie_manage" class="list-group-item ">Quản lý phim <span
                                    class="float-right badge badge-light round">32</span> </a>
                            <a href="/admin/showtime_manage" class="list-group-item active">Quản lý suất chiếu <span
                                    class="float-right badge badge-light round">12</span> </a>
                            <a href="/admin/statistical_manage" class="list-group-item">Thống kê doanh thu <span
                                    class="float-right badge badge-light round">12</span> </a>
                        </div> <!-- list-group .// -->
                    </div>
            </div> <!-- card.// -->
            <!-- End of Sidebar -->
        </div>
        <div class="col-sm-8">


            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Danh sách lịch chiếu phim</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th scope="col">ID </th>
                                    <th scope="col">Lịch chiếu</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">Chấp nhận</th>
                                    <th scope="col">Xóa</th>

                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>