{{#section 'js'}}


{{/section}}


{{#section 'css'}}
<style>

</style>

{{/section}}

<div class="container">
	<div class="container-fluid" style="background:#fff;padding-top:15px;">

		<div class="row">
			<div class="col-xs-9 movie-info padding-right-5" style="width:780px;">
				<h1>
					Tên phim ở đây
				</h1>
				<div class="row">
					<div class="col-xs-4 padding-right-0">
						<a class="movie-post" style="display:block;position:relative;">
							<img class="img-thumbnail" alt="poster"
								src="http://ww2.sinaimg.cn/mw690/006xTuHMgw1fbdk0yamdrj30bw0gogpv.jpg" width="100%">
						</a>
					</div>
					<div class="col-xs-8 ml-5">
						<div class="row mt-5">
							<h2>Đạo diễn: Nguyễn Văn A</h2>
						</div>
						<div class="row mt-4">
							<h2>Thời lượng: 90p </h2>
						</div>
						<div class="row mt-4">
							<h2>Năm sản xuất: 2020 </h2>
						</div>
						<div class="row mt-4">
							<h2>Ngày ra rạp</h2>
						</div>
						<button type="button" class="btn btn-primary mt-4 ml-5">Đặt vé</button>

					</div>
				</div>

			</div>

		</div>
	</div>
</div>