{{#section 'js'}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
    <script src="./js/nav.js"></script>
    <script src="./js/ticket.js"></script>

 
{{/section}}


{{#section 'css'}}
<style>
    .row.searchResult {
  overflow: auto;
  height: 100%;
}

.row.searchResult ul {
  margin-top: 50px;
  white-space: normal;
  list-style: none;
}

.catagoryBanner h4 {
  color: #c2c2c2;
}

.catagoryBanner h4 span {
  font-weight: 900;
}
/*# sourceMappingURL=search.css.map */
</style>
 
{{/section}}


    <div class="row searchResult">
        <div class="catagoryBanner"><h4></h4></div>
        <ul>
            <!-- li section -->
            <!-- <li class="nowPlayingMovie" id="14,28,12,878,53" style=""><a href="./info.html?fruit=apple">
                <img src="https://image.tmdb.org/t/p/w200/xGuOF1T3WmPsAcQEQJfnG7Ud9f8.jpg">
                <p>Mortal Kombat14,28,12,878,53</p>
            </a>
            </li> -->
        </ul>
    </div>
    <!-- <div class="row upcoming">
        <div class="catagoryBanner"><h4>Opening This Week</h4></div>
        <ul>
           
        </ul>
    </div> -->




